calculator/src/main/mule/calculator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="61d74401-5e9f-417f-8aa5-219446192db2" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?WSDL" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0db68f8b-60f9-4a02-ad97-1d2246c546c2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="calculatorFlow" doc:id="e4ca2db6-2c42-4e1a-857a-24dc89af3213" >
		<http:listener doc:name="Listener" doc:id="4aa0e2c9-f424-43fd-bf3e-d0aeb18e0084" config-ref="HTTP_Listener_config" path="/calc"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="05ac7a2a-a598-4f3e-9e6b-f7a399ef5a27" >
			<route >
				<ee:transform doc:name="Transform Message" doc:id="b5894916-6fdf-41b4-8dda-2c47c0c2dedd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
				ns0#intA: attributes.queryParams.num1,
				ns0#intB: attributes.queryParams.num2
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Consume" doc:id="8b58d680-bb82-478a-ad4d-04ddc8a95b12" config-ref="Web_Service_Consumer_Config" operation="Multiply"/>
				<ee:transform doc:name="Transform Message" doc:id="3f339fb1-119c-42b6-a6ee-a2787ca0e040">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://tempuri.org/
---

payload.body.ns0#MultiplyResponse.ns0#MultiplyResult]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="d3b56ba3-d389-474d-80d8-10c152327e8d">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {ns0#intA: attributes.queryParams.num1,
		ns0#intB: attributes.queryParams.num2
				
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Consume" doc:id="03079a3f-44c2-4511-a4d9-d1d952901555" config-ref="Web_Service_Consumer_Config" operation="Divide"/>
				<ee:transform doc:name="Transform Message" doc:id="70159c96-f89f-4e6c-a9ef-a725a541535c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://tempuri.org/
---
payload.body.ns0#DivideResponse.ns0#DivideResult]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="dba693b5-0aec-4a81-990e-bfaad612b377" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
