hello_world/src/main/mule/hello_world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bed2ddda-7574-4508-b9e1-ed07d2933834" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="MyFirstFlow" doc:id="de32d5a0-5ccd-44d5-b0dd-ac7943db40c2" >
		<http:listener doc:name="Listener" doc:id="f88dd97e-de89-4a1d-8935-4a13154e2b35" config-ref="HTTP_Listener_config" path="/Hello/world"/>
		<set-payload value="#[payload]" doc:name="Message" doc:id="1d855823-e692-407e-b42c-0dbab7ea1921" />
		<logger level="INFO" doc:name="Logger" doc:id="6c51e311-a02b-4dea-b53c-e3cd74037e88" message="#[payload]"/>
	</flow>
</mule>
