unit/src/test/munit/unit-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<munit:config name="unit-test-suite.xml" />
	<flow name="unit-test-suiteFlow" doc:id="c011897b-49d1-4cbd-b5a3-fdbfeec89c69" >
		<munit-tools:mock-when doc:name="Mock when" doc:id="e7598567-a54e-463f-9f22-ff7260457fd6" />
	</flow>
	<munit:test name="unit-test-suite-unitFlowTest" doc:id="db97a2be-3960-41f6-838c-ea00a24af8b6" description="Test">
		<munit:behavior >
			<munit-tools:mock-when doc:name="Mock when" doc:id="b068aa87-38d8-4cd4-aee6-8a20408a8e98" processor="wsc:consume">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="CreateUser" attributeName="operation" />
				</munit-tools:with-attributes>
			</munit-tools:mock-when>
		</munit:behavior>
		<munit:execution >
			<flow-ref doc:name="Flow-ref to unitFlow" doc:id="d7a09659-e375-45b9-aa73-91a64daec97c" name="unitFlow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert that" doc:id="816ec42e-fdbd-4920-b293-de80cb7a61ad" is="#[MunitTools::notNullValue()]" expression="#[payload]"/>
		</munit:validation>
	</munit:test>


</mule>
