zipp1/src/main/mule/zipp1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d4cb52e0-0c27-4377-a351-0713f510b143">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="29437009-c070-4f18-87d5-0c1c3b624bdf" basePath="/rest">
		<http:request-connection host="localhost" port="7070"/>
	</http:request-config>
	<flow name="zipp1Flow" doc:id="49204280-ff96-4ef5-a330-1a4f8c339ca1" >
		<http:listener doc:name="Listener" doc:id="2ad3b3f8-786d-4dbc-9f92-3e302498c6db" config-ref="HTTP_Listener_config" path="/getProduct"/>
		<try doc:name="Try" doc:id="bafa6451-7941-4dae-80bc-35f443d8fa24" >
			<http:request method="GET" doc:name="Request" doc:id="12825aa6-544d-452b-9c3c-de5ec984e2e7" config-ref="HTTP_Request_configuration" path="/Prod_Name">
			<http:uri-params><![CDATA[#[output application/java
---
{
	ProductName : attributes.uriParams.ProductName
}]]]></http:uri-params>
		</http:request>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="460b5227-4c30-4579-8c4e-cb8279225ecc" message="#[payload]"/>
	</flow>
</mule>
